/* styles.css */

/* Styles for the dashboard container */
.dashboard {
    width: 80%;
    margin: 70px 0;
    text-align: center;
  }
  
  /* Styles for the chart container */
  .chart-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive styles for the chart canvas */
  canvas {
    max-width: 50%;
    height: auto;
  }
  